

.jumbotron:hover {
  background: #ff7b29;
}
.image {
  margin-left: 50px;

}
#displaydice {
  line-height: 40px;
  font-size: 50px;
  padding: 20px;
  margin: 0;
  height: 300px;
}
body {
  font-family: 'Creepster', cursive;
}
#main {
  text-align: center;
}
.quick-guidelines {
  text-align: center;
  padding-top: 15em;
}
body {
  background-color: blue;
}
.jumbotron {
  background-color: red;
}
.wrapper {
  width: 1000px;
  height: 910px;
  margin-bottom: 30px;
  border: 2px solid black;
  background-color: white;
  margin-left: 160px;
  min-height: 12px;
}
.jumbotron {
  margin-left: 0px;
  background: #2db34a;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;

}
.foot{
  text-align: center;
}
